.titulo{color: #212F3C}

.sizeImg{width: fit-content;}

.cabecera{background-color: #D2B4DE;}

.nombre{font-family:cursive;}
.nav-img-AP{width: 120px;}
.nav-img-inti{width: 40px;}

.imagenes-habilidades{
    width: 150px;
}
.logos{
    height: 160px;
}

